<style>
    ul {
        list-style-type: disc; /* Ensure bullet points are used */
        padding-left: 20px; /* Indent the list */
    }
    ul ul {
        list-style-type: circle; /* Different bullet style for nested lists */
    }

    li {
        margin-bottom: 2px;
    }
    .wrapper {
        padding-bottom: 20px;
    }
    .solid-gray-line {
        border: 0; /* Remove default border */
        height: 1px; /* Line thickness */
        background-color: gray; /* Line color */
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>

<div class="wrapper">
    <ul>
        <li>I’m a recent Computer Engineering graduate from the University of Toronto (2T3 + PEY).</li>
        <li>
            I have experience in robotics (ROS2) from working at JCA. I also have some experience with data engineering, back end development, and DevOps
            responsibilities
        </li>
        <li>Currently seeking junior SWE roles in: Data Science, DevOps, ROS development. Also interested in systems engineering.</li>
    </ul>
</div>

<hr class="solid-gray-line" />
