<style>
    ul {
        list-style-type: disc; /* Ensure bullet points are used */
        padding-left: 20px; /* Indent the list */
    }
    ul ul {
        list-style-type: circle; /* Different bullet style for nested lists */
    }

    li {
        margin-bottom: 2px;
    }
    .wrapper {
        padding-bottom: 20px;
    }
    .solid-gray-line {
        border: 0; /* Remove default border */
        height: 1px; /* Line thickness */
        background-color: gray; /* Line color */
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>

<div class="wrapper">
    <ul>
        <li>I’m a recent Computer Engineering graduate from the University of Toronto (2T3 + PEY).</li>
        <li>I have experience in robotics (ROS2) and data engineering roles, and enough fullstack knowledge to be able to deploy software solutions.</li>
        <li>Interested in the Machine Learning Community:</li>
        <ul>
            <li>Less interested in researching cutting edge architectures, although I have a great respect for those people that push the boundaries.</li>
            <li>
                More interested in deploying and scaling the tech that exists today. Lots of use cases excite me: urban design, policy, analytics in general e.g
                for industrial use cases.
            </li>
        </ul>

        <li>Currently seeking junior SWE roles in: Data Science, ML/DevOps, and ROS development.</li>
    </ul>
</div>

<hr class="solid-gray-line" />
